* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: all 250ms ease-in-out;
}
::after,
::before {
  transition: all 250ms ease-in-out;
}
.container {
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 15px;
}
.clear-fix {
  clear: both;
}
.fa-facebook:hover {
  color: #0000aa;
}
.fa-telegram:hover {
  color: #00a6ff;
}
.fa-envelope:hover {
  color: var(--main-color);
}
.fa-whatsapp:hover {
  color: #00ab8c;
}
body {
  background-color: #fff;
}
a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--second-color);
  border-radius: 3px;
}
@keyframes scroll {
  0% {
    bottom: 10px;
    opacity: 0;
  }
  50% {
    bottom: 22px;

    opacity: 1;
  }
  100% {
    bottom: 40px;
    opacity: 0;
  }
}

/* ******* globle variables ******** */
:root {
  --main-color: #016d77;
  --main-color-trans: #016d7780;
  --second-color: #01909d;
  --second-color-trans: #01909d80;
  --title-size: 30px;
  --title-width: 500;
  --text-size: 16px;
  --text-width: 400;
}
section:not(:first-of-type) {
  padding: 50px 0;
}
.section-title {
  font-size: 80px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  filter: drop-shadow(0 5px 10px #00000099);
  margin-bottom: -50px;
  position: relative;
  width: 100%;
  width: fit-content;
  margin: 0 auto;
}
.section-title:before,
.section-title:after {
  content: "";
  position: absolute;
  height: 6px;
  width: 25px;
  border-radius: 3px;
  background-color: var(--second-color);
  top: 50%;
}
.section-title:before {
  left: -30px;
}
.section-title:after {
  right: -30px;
}
.description {
  text-align: center;
  font-weight: 500;
  padding: 20px;
  margin-bottom: 20px;
  color: var(--second-color);
  font-size: 20px;
}
.sub-section {
  margin-bottom: 20px;
}
.sub-title {
  text-transform: capitalize;
  color: var(--main-color);
  position: relative;
  width: fit-content;
}
.sub-title::before {
  position: absolute;
  content: "";
  top: 0;
  left: -5px;
  height: 100%;
  width: 3px;
  border-radius: 2px;
  background-color: var(--second-color);
}
.colored-b {
  color: var(--main-color);
}
p {
  line-height: 1.6;
  color: #333;
}
ul {
  list-style: none;
  align-items: center;
}
/* ******* globle variables ******** */

/* ******* nav start ******* */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}
.nav .logo {
  width: 50px;
  border-radius: 50%;
  position: relative;
}
.nav ul {
  display: flex;
}
.nav ul li {
  text-transform: capitalize;
}
.nav ul li a {
  position: relative;
  color: #fff;
  font-weight: 500;
  padding: 2px;
}
.nav ul li a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  top: 100%;
  right: 0;
  background-color: #fff;
  border-radius: 1px;
}
.nav ul li a:hover:before {
  left: 0;
  width: 100%;
}
.nav ul li:not(:last-of-type) {
  margin-right: 10px;
}
/* ******* nav end ******* */

/* ******* intro start ******* */
.intro {
  height: 60vh;
  background: url(./images/Crew-one.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
.intro::before {
  content: "";
  position: absolute;
  background-color: var(--main-color-trans);
  width: 100%;
  height: 100%;
  inset: 0;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
.intro-txt {
  margin-top: 80px;
}
.intro-header,
.intro-p {
  position: relative;
  font-size: 20px;
  color: #fff;
  width: 70%;
  margin: 20px auto;
  text-align: center;
  text-shadow: 0 0 5px #00000050;
  padding: 10px;
}
.intro-header {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 50px;
}
.scroll-icon {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translate(-50%);
  background-color: transparent;
  width: 30px;
  height: 55px;
  border-radius: 8px;
  border: 2px solid #fff;
  opacity: 0;
}
.scroll-icon .animation {
  width: 5px;
  height: 10px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 7px;
  opacity: 0;
  border-radius: 3px;
}
/* ******* intro end ******* */

/* ******* about start ******* */
.effectiveness li {
  margin: 5px 0;
  color: var(--second-color);
  font-weight: 600;
}
/* ******* about end ******* */

/* ******* team start ******* */
.team {
  background-color: #eee;
}

.members-cards {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}
.member-card {
  background-color: #fff;
  border-radius: 10px;
  height: 360px;
  overflow: hidden;
}
.card-header {
  height: 60px;
  background-color: var(--main-color);
  width: 100%;
  margin: auto;
  position: relative;
  border-radius: 10px;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
  padding-top: 7px;
}
.card-header p {
  color: #ffffff99;
  font-size: 15px;
}
.card-img {
  margin-top: 25px;
  height: 60%;
  text-align: center;
}
.card-img img {
  height: 100%;
}
.card-content {
  margin-top: 5px;
  width: 100%;
  padding: 10px;
}
.card-content ul {
  display: flex;
  justify-content: space-evenly;
}
.card-content ul li a {
  color: #999;
  padding: 5px;
  font-size: 22px;
  border-radius: 50%;
}
/* ******* team end ******* */

/* ******* features start ******* */
.features {
  background-color: var(--second-color);
}
.features .section-title {
  filter: drop-shadow(0 0 0);
  font-size: 65px;
  margin-bottom: 50px;
}
.features .section-title::before,
.features .section-title::after {
  background-color: #fff;
}
.features .feat-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  gap: 45px;
  text-align: center;
}
.features .feature {
  width: 100%;
  color: #fff;
  padding: 15px;
}
.features .feature:nth-of-type(2) {
  border-right: 3px solid #fff;
  border-left: 3px solid #fff;
}
.features .feature i {
  font-size: 40px;
  margin-bottom: 10px;
}
.features .feature h3 {
  text-transform: capitalize;
}
.features .feature p {
  color: #eee;
  font-weight: 500;
  text-transform: capitalize;
  margin-top: 20px;
  padding: 0 10px;
}
/* ******* features end ******* */

/* ******* timeline start ******* */
.timeline .description {
  text-transform: capitalize;
}
.timeline-content {
  position: relative;
}
.timeline-content .year {
  color: #fff;
  background-color: var(--second-color);
  position: relative;
  width: fit-content;
  margin: 10px auto;
  padding: 5px 15px;
  border-radius: 15px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  outline: 5px solid #fff;
}
.timeline-content::before {
  content: "";
  position: absolute;
  width: 2px;
  background-color: var(--main-color);
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.timeline-content .event {
  background-color: #eee;
  padding: 10px 20px;
  border-radius: 10px;
  position: relative;
}
.timeline .left,
.timeline .right {
  width: calc(50% - 30px);
  position: relative;
  margin-bottom: 20px;
}
.left .event::before,
.right .event::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid;
  border-color: transparent transparent transparent #eee;
  top: 30px;
  right: -30px;
  transform: translateX(-50%);
}
.right .event::before {
  border-color: transparent #eee transparent transparent;
  left: -10px;
}
.left {
  float: left;
  position: relative;
}
.right {
  float: right;
}
.left::before,
.right::before {
  content: "";
  width: 12px;
  height: 12px;
  border: 5px solid var(--second-color);
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 30px;
}
.left::before {
  right: -40px;
}
.right::before {
  left: -40px;
}
.event .event-heading {
  text-transform: capitalize;
  color: var(--second-color);
  font-weight: 600;
}
.event .event-p {
  line-height: normal;
  color: #666;
  width: 100%;
  padding: 10px 0;
}
.event .coop {
  font-size: 14px;
}
.event .coop span {
  text-transform: capitalize;
  font-weight: 600;
  color: var(--main-color);
}
/* ******* timeline end ******* */

/* ******* QRs start ******* */
.qrs {
  background-color: #eee;
}
.qrs .sub-title {
  margin: 10px auto 50px;
  color: #000;
  font-size: 30px;
}
.qrs .sub-title::before {
  display: none;
}
.qrs .sub-title i {
  color: var(--second-color);
}
.qrs .sub-section {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}
.qrs .qr {
  text-align: center;
}
.qrs .qr:first-of-type a,
.qrs .qr .fa-facebook {
  color: #0000aa;
}
.qrs .qr a {
  text-transform: capitalize;
  font-size: 20px;
  text-align: center;
  color: var(--main-color);
  font-weight: 600;
  padding: 0;
  /* margin: 50px 0 -20px 20px; */
}
.qrs .qr img {
  width: 100%;
}
/* ******* QRs end ******* */

/* ******* footer start ******* */
.footer {
  background-color: var(--second-color);
  font-size: 18px;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  padding: 5px;
  border-radius: 15px 15px 0 0;
  font-weight: 400;
}
.footer span {
  font-weight: 500;
}
/* ******* footer end ******* */

/* ******* reponsive design end ******* */

/* ******* standerd labtops design ******* */
@media (max-width: 1366px) {
  .container {
    width: 75%;
    padding: 0 15px;
  }
  .intro-txt {
    margin-top: 40px;
  }
  .intro-p {
    font-size: 18px;
    width: 75%;
  }
  .intro-header {
    margin-bottom: -20px;
    font-size: 40px;
  }
}

/* ******* tablets design ******* */
@media (max-width: 990px) {
  .container {
    width: 90%;
  }
  .section-title {
    margin-top: 25px;
  }
}

/* ******* mobiles design ******* */
@media (max-width: 480px) {
  /*  global veriables  */
  .container {
    width: 100% !important;
    padding: 0 15px;
  }
  .section-title {
    font-size: 50px;
    margin: 0 auto 20px;
  }
  .section-title:before {
    left: -35px;
  }
  .section-title:after {
    right: -35px;
  }
  /*  global veriables  */
  .intro {
    height: 100vh;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .intro::before {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .intro-header,
  .intro-p {
    position: relative;
    font-size: 20px;
    color: #fff;
    width: 90%;
    margin: 20px auto;
    text-align: center;
    text-shadow: 0 0 5px #00000050;
    padding: 10px;
  }
  .intro-header {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 40px;
    width: 100%;
  }
  .scroll-icon {
    opacity: 1;
  }
  .scroll-icon .animation {
    opacity: 1;
    animation: scroll 2s linear infinite;
  }
  .members-cards {
    padding: 0 50px;
  }
  .features .feature:nth-of-type(2) {
    border-right: none;
    border-left: none;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
  }
  .features .section-title {
    font-size: 50px;
    margin: 0 auto 20px;
  }
  .features .container {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
  .timeline .left,
  .timeline .right {
    float: none;
    width: 100%;
  }
  .timeline .left::before,
  .timeline .right::before {
    display: none;
  }
  .timeline-content .year {
    margin-top: 30px;
  }
  .qrs {
    padding-bottom: 0;
  }
  .qrs .sub-title {
    margin: 20px auto 80px;
    color: #000;
    font-size: 18px;
  }
  .qrs .sub-title i {
    color: var(--second-color);
  }
  .qrs .sub-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 25px;
  }
  .qrs .qr {
    text-align: center;
  }
  .footer {
    font-size: 16px;
    padding: 5px;
  }
}

/* ******* reponsive design end ******* */
